.reset-input {
  -webkit-appearance: none;
	border: 0;
  background-clip: padding-box;
  outline: 0; // Estilizar o outline com box-shadow

  &:not(:disabled):not(.disabled) {
    cursor: text;
  }

  &:disabled,
  &.disabled {
    cursor: default;
  }
}